
@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<style>
    .w3-lobster {
        font-family: "Allerta Stencil", Sans-serif;
    }
</style>

<body style="background-image:url(https://www.desktopbackground.org/download/o/2010/12/07/122515_burj-al-arab-hotel-in-dubai-hd-wallpapers_1920x1080_h.jpg); background-repeat: no-repeat; background-size: cover">

    <div class="w3-bar w3-border w3-transparent w3-border-black">
        <a href="/Apartman/IdiNaRegistracijaKorisnika" class="w3-bar-item w3-button w3-right w3-text-black"> Registrujte se</a>
        <a href="/Apartman/IdiNaUlogujSe" class="w3-bar-item w3-button w3-right w3-text-black"> Ulogujte se</a>
        <a href="/Apartman/IdiNaPregledSvihApartmanaNeregistrovaniKorisnici" class="w3-bar-item w3-button w3-right w3-text-black">Pregled aktivnih apartmana</a>
        <a href="/Apartman/IdiNaPretragaApartmanaIndex" class="w3-bar-item w3-button w3-right w3-text-black">Pretraga apartmana</a>
    </div>
    <div class="w3-xxlarge w3-center w3-text-black w3-lobster" style="text-shadow:1px 1px 0 #444">Dobrodošli</div>
</body>