
@{
    Layout = null;
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://www.desktopbackground.org/download/o/2010/12/07/122515_burj-al-arab-hotel-in-dubai-hd-wallpapers_1920x1080_h.jpg); background-repeat: no-repeat; background-size: cover">
    <div class="w3-bar w3-border w3-transparent w3-border-black">
        <a href="/Apartman/GoToHomeDomacin" class="w3-bar-item w3-button w3-text-black">Povratak na pocetnu stranicu</a>
    </div>
    <br />

    <h2>Unesite drugo korisnicko ime, korisnik sa unetim korisnickim imenom vec postoji.</h2>
    <a href="/Apartman/GoToKreiranjeDomacina" style="background-color:transparent" class="w3-button w3-border-black w3-hover-blue w3-text-black">Pokusajte ponovo</a>
</body>