@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://www.desktopbackground.org/download/o/2010/12/07/122515_burj-al-arab-hotel-in-dubai-hd-wallpapers_1920x1080_h.jpg); background-repeat: no-repeat; background-size: cover">
    <div class="w3-bar w3-border w3-transparent w3-border-black">
        <a href="/Apartman/GoToHomeAdmin" class="w3-bar-item w3-button w3-text-black">Povratak na pocetnu stranicu</a>

    </div>
    <br />
    <form method="post" action="/Apartman/PretragaKorisnikaAdmin">
        <table border="1" style="background-color:transparent; margin-left:20px" class="w3-text-black w3-large">
            <tr>
                <th>
                    Pretraga po ulozi
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="uloga" />
                </td>
            </tr>
            <tr>
                <th>
                    Pretraga po polu
                </th>
            </tr>
            <tr>

                <td><input type="text" name="pol" /></td>
            </tr>
            <tr>
                <th>
                    Pretraga po korisnickom imenu
                </th>
            </tr>
            <tr>

                <td><input type="text" name="korisnickoIme" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right">
                    <input type="submit" value="Pretrazi" style="background-color:transparent; border:none" class="w3-text-black w3-hover-blue" />
                </td>
            </tr>
        </table>
    </form>
</body>